body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 55px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}
.navbar-light .navbar-nav .nav-link .dropdown-item {
  color: #071c4d;
  font-family: "roboto", sans-serif;
}

.btn-navbar-right {
  margin-top: -20px !important;
  margin-right: -8px !important;
  margin-bottom: -18px !important;
  height: 70px;
  border-radius: 0px;
}

.dropdown .btn-login {
  color: #1141b1;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}
.dropdown .btn-login:hover {
  color: #1141b1;
  background: none;
  border: none;
  outline: none;
}
.dropdown .img-user {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

header {
  padding: 180px 0 165px;
  margin-top: 0px;
  background-image: url("../images/dashboardupdate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header h1 {
  font-size: 50px;
  color: #ffffff;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  margin-left: 70px;
  margin-right: 70px;
}
header h1 .subtitle {
  color: #ffc436;
  display: inline;
}
header p {
  font-size: 50px;
  color: #ffffff;
  font-family: "Poly", cursive;
  font-weight: bold;
  margin-left: 70px;
  margin-top: -20px;
  margin-right: 70px;
}
header p .subtitle {
  color: #ffc436;
  display: inline;
  margin-right: auto;
}
header .btn-explore {
  background-color: #0174be;
  color: #ffffff;
  margin-left: 70px;
  font-family: "bebas neue", cursive;
  font-size: 30px;
}
header .btn-explore:hover {
  background-color: #266d99;
  color: #ffffff;
}

main {
  padding: 10px 0;
}
main .section-visi {
  margin-bottom: 10px;
}
main .section-visi h2 {
  font-size: 40px;
  color: #0c356a;
  font-family: "bebas neue", cursive;
  font-weight: bold;
  margin-bottom: 10px;
}
main .section-visi .costum-mid-hr {
  border: 5px solid #ffc436;
  width: 50px;
  display: block;
  margin-bottom: auto;
}
main .section-visi .costume-hr {
  border: 1px solid #ffc436;
  width: 100vw;
  margin: 0;
  position: relative;
  left: calc(-50vw + 49%);
}
main .section-visi .visi-text {
  font-size: 25px;
  color: #000;
  font-family: "roboto", sans-serif;
  margin-top: 20px;
}
main .section-visi .misi-list {
  font-size: 25px;
  color: #141617;
  font-family: "roboto", sans-serif;
  margin-top: 20px;
}
main .hr-relasi {
  border: 1px solid #ffc436;
  width: 60%;
}
main .section-relasi {
  display: flex;
  justify-content: center;
  text-align: center;
}
main .section-relasi .row {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
main .section-relasi .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-relasi .row .col .circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid #ffc436;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 120px;
}
main .section-relasi .row .col .circle .number {
  font-size: 24px;
  font-weight: bold;
  color: #0c356a;
  font-family: "bebas neue" cursive;
}
main .section-relasi .row .col .label {
  margin-top: 10px;
  font-size: 25px;
  color: #0c356a;
  font-family: "roboto" sans-serif;
  font-weight: bold;
}
main .section-struktur {
  margin-top: 10px;
}
main .section-struktur .struktur-organisasi {
  margin-top: 10px;
}
main .section-struktur .struktur-organisasi h2 {
  font-size: 40px;
  color: #0c356a;
  font-family: "bebas neue", cursive;
  font-weight: bold;
  margin-bottom: 10px;
}
main .section-struktur .struktur-organisasi h2 span {
  color: #ffc436;
}
main .section-profile {
  padding: 20px;
}
main .section-profile .profile {
  text-align: left;
  padding: 0 15px;
}
main .section-profile .profile .hr-profile {
  border: 1px solid #ffc436;
  width: 30%;
  margin-top: -85px;
}
@media (max-width: 768px) {
  main .section-profile .profile .hr-profile {
    margin-top: 10px;
    margin-left: 5px;
  }
}
main .section-profile .profile .costume-color {
  color: #ffc436;
}
main .section-profile .profile .profile-display {
  margin-left: 360px;
  font-family: "playfair display", serif;
  font-size: 20px;
  color: #0c356a;
}
@media (max-width: 768px) {
  main .section-profile .profile .profile-display {
    margin-left: 5px;
    font-size: 18px;
  }
}
main .section-profile .profile-img {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
main .section-profile .profile-img .costume-img {
  width: 350px;
  height: 338px;
}
main .section-profile .profile-img .img-fluid {
  border-radius: 5%;
}
main .section-profile .profile-img .label {
  font-weight: bold;
  font-family: "bebas neue" cursive;
  font-size: 15px;
  color: #000;
  margin-top: 10px;
}
main .section-profile .profile-img .information {
  font-family: "roboto" sans-serif;
  font-size: 15px;
  color: #000;
  margin-top: -10px;
}
main .section-events {
  min-height: 540px;
  background-color: #b8def7;
  margin-top: -10px;
  margin-bottom: -230px;
}
main .section-events-heading {
  margin-top: 60px;
}
main .section-events-heading h2 {
  font-size: 40px;
  color: #0c356a;
  font-family: "bebas neue", cursive;
  font-weight: bold;
  margin-bottom: 10px;
}
main .section-events-heading h2 span {
  color: #ffffff;
}
main .section-events-heading p {
  font-size: 20px;
  font-family: "roboto", sans-serif;
}
main .section-events-content {
  padding: 20px 20px;
  margin-top: -300px;
}
main .section-events-content .section-event-program .costume-event {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
  padding: 1px;
  margin-top: 20px;
}
main .button-events {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .button-events .btn-submit {
  background-color: #0174be;
  color: #ffffff;
  font-family: "bebas neue", cursive;
  font-size: 30px;
  padding: 10px 10px;
  width: 70%;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}
main .button-events .btn-submit:hover {
  background-color: #266d99;
  color: #ffffff;
}

.footer {
  background-color: #0c356a;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
}
.footer .footer-content .footer-left,
.footer .footer-content .footer-right {
  flex: 1;
  padding: 5px;
}
.footer .footer-heading {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-family: "bebas neue", cursive;
}
.footer .footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-family: "bebas neue", cursive;
}
.footer .footer-nav a:hover {
  text-decoration: underline;
}
.footer .follow-us {
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: "bebas neue", cursive;
  margin-bottom: 5px;
}
.footer .footer-social a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-family: "bebas neue", cursive;
  font-size: 1rem;
}
.footer .footer-social a i {
  margin-right: 5px;
}
.footer .footer-right p {
  margin: 5px 0;
}
.footer .footer-contact-heading {
  font-size: 1.5rem;
  font-family: "bebas neue", cursive;
}
.footer .footer-bottom {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.footer .footer-bottom .footer-logo-wrapper {
  padding: 10px;
  border-radius: 5px;
  background-size: cover;
}
.footer .footer-bottom .footer-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  position: relative;
  background-image: #ffffff;
}
.footer .footer-bottom .footer-title {
  font-size: 1.5rem;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer-bottom .footer-title .title {
  margin: 0;
  font-family: "bebas neue", cursive;
  font-size: 1.2rem;
}
.footer .footer-bottom .footer-title .subtitle {
  font-family: "roboto", sans-serif;
  font-size: 0.8rem;
}
.footer .footer-copyright .footer-line {
  border: 1px solid #ffffff;
  width: 100%;
  margin-top: 10px;
}

.section-event-header {
  min-height: 350px;
  background: #e4e6eb;
  margin-top: -70px;
}

.section-popular-content {
  margin-top: -160px;
  min-height: 100vh;
}
.section-popular-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-popular-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}
.section-popular-content .section-popular-event .card-event {
  min-height: 380px;
  background-color: #ddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 20px;
  filter: brightness(0.9);
}
.section-popular-content .section-popular-event .party-event {
  font-size: 30px;
  color: #00040c;
  font-family: "Bebas Neue", cursive;
}
.section-popular-content .section-popular-event .party-button {
  margin-top: auto;
}
.section-popular-content .section-popular-event .party-button .btn-party-details {
  background-color: #0174be;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.section-popular-content .section-popular-event .party-button .btn-party-details:hover {
  background-color: #0174be;
  color: #fff;
}

.section-details-header {
  min-height: 420px;
  background: #e4e6eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #6e6e6e;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 20px;
  margin-top: 40px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #071c4d;
}
.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}
.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}
.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}
.section-details-content .card-details .paymeny-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}
.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}
.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}
.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}
.section-details-content .card-details .bank .bank-image {
  width: 35px;
  height: 35px;
  float: left;
}
.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}
.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}
.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}
.section-details-content .card-details .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}
.section-details-content .card-details .btn-add-now:hover {
  background-color: #374c79;
  color: #fff;
}
.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.section-details-content .features {
  margin-top: 20px;
}
.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}
.section-details-content .features p {
  margin-bottom: 0;
}
.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .features img {
  margin-left: 10px;
}
.section-details-content .gallery .xzoom-container {
  display: block;
}
.section-details-content .gallery .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .gallery .xactive {
  border: 4px solid #1a4c9c;
  box-shadow: none;
}
.section-details-content .members-container {
  display: flex;
  flex-wrap: wrap;
}
.section-details-content .members-container .members {
  flex: 0 0 auto;
  margin-right: 5px;
}
.section-details-content .members-container .members .member-image {
  width: 40px;
  height: auto;
}
.section-details-content .join-container {
  margin-top: -16px;
}
.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}
.section-details-content .btn-join-now:hover {
  background-color: #ffaa69;
  color: #fff;
}

.card {
  border-radius: 1rem;
}
.card .bg-primary {
  background-color: #0174be !important;
}
.card .card-body {
  padding: 2rem;
}
.card .card-body .form-control {
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}
.card .card-body .form-label {
  font-weight: bold;
  color: #5a5a5a;
}
.card .card-body .btn-primary {
  border-radius: 0.5rem;
  width: 100%;
}
.card .card-body .text-white {
  text-align: center;
}

.profile-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.profile-container .profile-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.profile-container .data-diri {
  margin-left: 5px;
}
.profile-container .table {
  margin-bottom: 0;
}

.proker {
  margin-top: 100px;
}
.proker .profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Mengatur gambar dan nama agar lurus vertikal */
  margin: 0 10px; /* Jarak antar item */
}
.proker .profile-circle {
  width: 100px; /* Atur ukuran lingkaran sesuai kebutuhan */
  height: 100px;
  border-radius: 50%; /* Membuat elemen menjadi lingkaran */
  overflow: hidden; /* Supaya gambar tidak keluar dari lingkaran */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* Memberikan jarak antar lingkaran */
  background-color: #f0f0f0; /* Background warna default untuk lingkaran tanpa gambar */
}
.proker .profile-circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Gambar akan disesuaikan di dalam lingkaran tanpa terdistorsi */
}
.proker .profile-name {
  margin: 10px;
  text-align: center;
}

.program-title {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 18px;
}

.program-content {
  border: 2px solid #007bff;
  padding: 20px;
}
.program-content .program-item {
  margin-bottom: 20px;
}
.program-content .program-item .program-item-title {
  font-weight: bold;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */